// Mobile first
$smallscreen: 768px;
$mediumscreen: 992px;
$largescreen: 1200px;
// Colors
$red: #ff001e;
$orange: #ff931d;
$yellow: #ffbe17;
$white: #fff;
$grey:#878787;
$light_grey: #e6e6e6;
$primary_grey: #DEDEDE;
$black: #000000;
$violet: #9769E2;
$xs-font-primary:16px