<div class="wrapper">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="p-grid">
    <div class="p-col-12 p-p-0">
      <div class="block-1">
        <div class="block-1__title">
          <h1>Химчистка мягкой мебели и ковров</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-2">
        <div class="block-2__description">
          <p class="description"><b>Химчистка мягкой мебели и ковров в Москве</b> от клининговой компании «KIMCLEANING» – это гарантированное качество чистки вашей мебели по самой приемлемой цене. Закажите химчистку мягкой мебели у профессионалов своего дела и вы получите отменный результат в кратчайшие сроки. Оставьте заявку и наш менеджер сделает для Вас индивидуальный расчет стоимости химчистки мебели, диванов, ковров или ковровых покрытий!</p>
        </div>
      </div>
      <div class="p-col-12">
        <div class="block-2__button">
          <div class="sizes">
            <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <div class="block-3">
        <div class="block-3__image">
          <img class="image" src="assets/img/21.webp">
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6">
      <div class="block-3">
        <div class="block-3__image">
          <img class="image" src="assets/img/22.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-4">
        <div class="block-4__title">
          <h1>Профессиональная химчистка мебели в Москве</h1>
        </div>
        <div class="block-4__description">
          <p>Чаще всего мы даже не предполагаем насколько грязный наш диван, ковер или кресло, до тех пор, пока не появляются видимые загрязнения, в то время как на самом деле эти места являются куда более загрязненным, чем пол в вашей квартире. Эти места собирают на себя пыль, пот, кожный жир, шерсть домашних питомцев и прочее. Только химчистка позволяет действительно глубоко прочистить вашу мягкую мебель или ковры. Позаботьтесь о своем здоровье, закажите профессиональную химчистку мебели в Москве от компании «KIMCLEANIG»!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="block-5">
      <div class="p-col-12">
        <div class="block-5__title">
          <h1>Химчистка мягкой мебели цены в Москве по выгодной цене</h1>
        </div>
      </div>
      <div class="p-col-12">
        <div class="block-5__description">
          <p>Хотите заказать химчистку мягкой мебели в Москве? «KIMCLEANING» предлагает Вам сотрудничество на очень выгодных условиях!</p>
        </div>
      </div>
      <div class="p-col-12">
        <div class="block-5__button">
          <div class="sizes">
            <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>ПРАЙС-ЛИСТ</h1>
          </div>
          <div class="block-5__table">
            <p-table  styleClass="p-datatable-striped p-datatable-gridlines">
              <ng-template pTemplate="caption">
                ХИМЧИСТКА МЕБЕЛИ И КОВРОВ
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Наименование</th>
                  <th>Цена</th>
                </tr>
                <tr>
                  <th>Матрас стандартный</th>
                  <th>от 100</th>
                </tr>
                <tr>
                  <th>Стул</th>
                  <th>от 100</th>
                </tr>
                <tr>
                  <th>Кресло</th>
                  <th>от 100</th>
                </tr>
                <tr>
                  <th>Диван стандартный</th>
                  <th>от 100</th>
                </tr>
                <tr>
                  <th>Ковролин</th>
                  <th>Цена договорная</th>
                </tr>
                <tr>
                  <th>Выведение пятен</th>
                  <th>Цена договорная</th>
                </tr>
                <tr>
                  <th>Для офисов, торговых центров и магазинов</th>
                  <th>Цена договорная</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                <p>**Цена варьируется от степени загрязнения и кол-ва этапов очистки!</p>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__button">
            <div class="sizes">
              <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>ПОПУЛЯРНЫЕ ВОПРОСЫ</h1>
          </div>
          <div class="block-5__faq">
            <p-accordion>
              <p-accordionTab header="Сколько людей придет, чтобы убрать мой дом?" [(selected)]="activeState[0]">
                <p>В среднем для помещения выделяется около 2-3 человек. На большие площади выделяется около 5. Всё зависит только от вас! Если вам необходимо произвести уборку в сжатые сроки — мы выделим необходимое количество человек для того, что бы успеть вовремя!</p>
              </p-accordionTab>
              <p-accordionTab header="Должен ли я присутствовать на уборке?" [(selected)]="activeState[1]">
                <p>Это не обязательно. Вы можете как присутствовать, так и просто оставить ключи и приехать только к моменту завершения работ.</p>
              </p-accordionTab>
              <p-accordionTab header="Сколько времени займет мой дом?" [(selected)]="activeState[2]">
                <p>В зависимости от площади от 1 до 3 рабочих дней. Рабочий день длиться с 9.00 до 18.00.
                  Если такой график Вас не устраивает – мы всегда готовы обсудить удобное вам время.</p>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
        <div class="p-col-12  p-md-6">
          <div class="block-5__title">
            <h2>МЫ ГАРАНТИРУЕМ</h2>
          </div>
          <div class="block-5__description">
            <p>Наша репутация важна для нас. Мы сделаем всё возможное для того, что бы завершить работу в оговоренные сроки и сделать это максимально качественно. Если результат нашей работы не удовлетворил вас – мы всегда рады выслушать ваши замечания и заново вернуться в те места, где по вашему мнению уделили не достаточно внимания.</p>
          </div>
        </div>
        <div class="p-col-12  p-md-6">
          <div class="block-5__title">
            <h2>НАША МИССИЯ</h2>
          </div>
          <div class="block-5__description">
            <ul>
              <li><i class="pi pi-check"></i>Предоставлять высококачественные услуги</li>
              <li><i class="pi pi-check"></i>Экономия вашего времени</li>
              <li><i class="pi pi-check"></i>Использовать только качественные средства</li>
              <li><i class="pi pi-check"></i>Обеспечить стабильные рабочие места</li>
              <li><i class="pi pi-check"></i>Никаких повреждений вашей мебели или технике</li>
              <li><i class="pi pi-check"></i>Удивить вас</li>
            </ul>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>Выездная химчистка диванов в Москве – залог здоровья ваших домочадцев</h1>
          </div>
          <div class="block-5__button">
            <div class="sizes">
              <p-button label="Оставить заявку" styleClass="p-button-lg"></p-button>
            </div>
          </div>
          <div class="block-5__description">
            <p>Выездная химчистка диванов в Москве — лучшее решение для тех, кто ценит свое время, силы и семейный бюджет. Заказав услуги химчистки в нашей компании, Вы очень быстро и за недорого получите чистый диван, уголок, кресло, мебель, которые прослужат ещё долгие годы! Выездная химчистка на дому — одна из самых востребованных направлений деятельности клининговой компании «KIMCLEANING». Доверьтесь профессионалам, мы знаем как решить вашу проблему.</p>
            <p>Перестаньте прятать пятна на обивке под покрывалом, оставляйте заявку и мы вернем Вашей мебели ее красоту и свежесть!</p>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>Химчистка мягкой мебели и ковров в Москве</h1>
          </div>
          <div class="block-5__description">
            <p>Наша компания предоставляет удобные и качественные услуги по <b>химчистке ковров, а также мягкой мебели в Москве</b>. Мы используем только проверенные моющие средства, которые отличаются мощностью, при этом не оставляя следов и не принося вреда человеческому организму. Наши профессионалы гарантируют качественное и своевременное выполнение полноценной уборки. Химчистка в Москве, адекватные цены, качество и оперативность — сочетание этих факторов оставит Вас абсолютно удовлетворенными нашей работой.</p>
            <p>Уборка после ремонта от клининговой компании KIMCLEANING в Москве — это гарантия качественно выполненной работы, которая всегда выполняется в четко установленные сроки, по выгодной для Вас цене. Все детали вашего заказа тщательно обговариваются заранее, учитывая возможные нюансы и пожелания. К примеру, такие как уборка с помощью специальных моющих средств, которые безопасны для Вас, и вашего домашнего животного. Наш многолетний опыт работы является гарантией того, что Вы останетесь довольны <b>уборкой после ремонта в Москве!</b></p>
            <div class="block-5__button">
              <div class="sizes">
                <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
