<div class="wrapper">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="p-grid">
    <div class="p-col-12 p-p-0">
      <div class="block-1">
        <div class="block-1__title">
          <h1>Почему мы?</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-3">
        <div class="block-3__image">
          <img class="image" src="assets/img/kim.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-4">
        <div class="block-4__description">
          <p>Что такое уборка? Кажется , что нет ничего проще, было бы время и желание. Там пыль протереть , там пропылесосить, тут помыть. Вроде ничего сложного. На самом деле , за 10 лет работы в клининге, мы убедились , все умеют равномерно распределять грязь , а не убирать. Уборка- это уход за пространством, в котором мы проводим большую часть своего времени; где растут наши дети , где мы отдыхаем ,набираемся сил , мечтаем, строим планы на будущее. </p>
        </div>
        <div class="block-4__title">
          <h3>И как мы за этим ухаживаем? Что думает наш дом о нас?</h3>
        </div>
        <div class="block-4__description">
          <p>Правильно убирая свое жилище, Вы и Ваша семья будете находиться в окружении мощного энергетического позитива. Ведь уборка – это не только наведение визуального блеска, но и  удаление негативной информации , в виде загрязнений различного срока и происхождения.</p>
        </div>
        <div class="block-4__title">
          <h3>Когда же стоит обращаться к профессионалам?</h3>
        </div>
        <div class="block-4__description">
          <p>Ответ – однозначно на стадии начала ремонта, стройки, перепланировки и т.д.</p>
          <p>Нам, как опытным клинерам, есть что Вам предложить – узнать и взять на вооружение. И это экономия Ваших денежных средств.</p>
          <p>Строитель или мастер не будет думать, о том, чтобы оставить свое рабочее место чистым после себя, он сдаст работу, получит деньги и уйдет. А Вы потом будете открывать для себя неожиданные «сюрпризы». Разбитый кафель, порванные обои, поцарапанный паркет и т.д.</p>
          <p>Во избежание этого  мы предлагаем Вам такую услугу как «ведение стройки», она включает в себя уборку и контроль объекта во время ремонта . Мы вовремя застелем паркет, так что бы на него ничего не попало(краска, растворитель), накроем сантехнику и т. д., то есть проконтролируем чистоту объекта во время ремонта. И таким образом , исключив любые «сюрпризы», сэкономим  Ваши деньги и нервы.</p>
          <p>Конечно же вторая причина нам позвонить -это генеральная уборка. В каждый уголок Вашего жилого помещения должна коснуться рука человеческая во время генеральной уборки. Долой всякий хлам и мусор с балкона ,полупустые баночки из под крема с туалетного столика,  флакончики со шкафчиков – Всё ,что оставлялось на всякий случай ,но так и не было использовано.Всё это стоит убрать и тогда , сияющий ,освеженный дом с благодарностью примет своих жильцов!</p>
        </div>
        <div class="block-4__title">
          <h3>И Вы заметите – настроение то  улучшилось!</h3>
        </div>
        <div class="block-4__description">
          <p>Отдельной строкой можно отметить уборку после ремонта. Много смешных историй, которые заказчику или прорабу обходятся в копеечку, можно услышать от людей , которые видели работу «профессиональных клинеров».</p>
          <p>И это понятно, у людей работающих на агентство, нет мотивации или платят мало, требуют  много. Ни один менеджер не закатает рукава и не встанет убирать вместе с ними .</p>
          <p>Мы гарантируем, что если наши девочки, с которыми мы работаем очень давно вместе , не будут успевать закончить уборку после ремонта или мойку окон, мы будем работать с ними наравне и сдадим объект в обещанный срок.</p>
        </div>
        <div class="block-4__title">
          <h3>Как говориться уговор дороже денег.
          </h3>
        </div>
        <div class="block-4__description">
          <p>При генеральной уборке присутствие нашего менеджера будет обязательным, так же и на мойке окон.</p>
          <p>На рынке клининговых услуг в г.Москве предложения от частных лиц, а в основном это женщины предпенсионного  возраста с соответствующим уровнем подготовки, или те для кого это просто вторая работа. Их услуги намного дешевле профессиональных, но и качество работы соответствующее.</p>
          <p>Поэтому обратившись к нам Вы получите качественное обслуживание Вашего объекта от начального этапа до полного завершения работ , с последующими консультациями по уходу за Вашим домом.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-4">
      <div class="block-about">
        <div class="block-about__icon"><i class="pi pi-user"></i></div>
        <div class="block-about__title">
          <h2>Кто мы?</h2>
        </div>
        <div class="block-about__description">
          <p>Мы — московская клининговая компания. Работаем на рынке с 2015 года, на нашем счету более сотен успешно выполненных заказов.</p>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="block-about">
        <div class="block-about__icon"><i class="pi pi-book"></i></div>
        <div class="block-about__title">
          <h2>Что мы делаем?</h2>
        </div>
        <div class="block-about__description">
          <p>Мы предоставляем профессиональные услуги по уборке, предназначенные для того, чтобы ваш дом был идеально чист и вы могли сосредоточиться на более важных для вас делах.</p>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="block-about">
        <div class="block-about__icon"><i class="pi pi-home"></i></div>
        <div class="block-about__title">
          <h2>Наша миссия?</h2>
        </div>
        <div class="block-about__description">
          <p>Наша задача — выслушать наших клиентов, понять их потребности и обеспечить исключительный уровень услуг по уборке жилых и коммерческих помещений.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <div class="block-about">
        <img class="block-about__img" src="assets/img/33.jpg">
      </div>
    </div>
    <div class="p-col-12 p-md-6">
      <div class="block-about">
        <div class="block-about__title">
          <h2>ПРИЧИНЫ ВЫБРАТЬ НАС:</h2>
        </div>
        <div class="block-about__description">
          <p>KIMCLEANING находится в Москве. У нас хорошая репутация и мы выделяемся на фоне остальных клининговых компаний.</p>
        </div>
        <div class="block-about__title">
          <h3><p-badge [value]="1" size="large" styleClass="p-mr-2"></p-badge> ЧИСТОТА</h3>
        </div>
        <div class="block-about__description">
          <p>Мы создаем не просто видимость чистоты, а заботимся о действительно глубоком удалении загрязнений.</p>
        </div>
        <div class="block-about__title">
        <h3><p-badge [value]="2" size="large" styleClass="p-mr-2"></p-badge>ВЕДУЩИЕ ТЕХНОЛОГИИ</h3>
      </div>
      <div class="block-about__description">
        <p>Мы приезжаем к вам с профессиональным оборудованием и используем только безопасные дезинфицирующие средства и сертифицированную химию</p>
      </div>
        <div class="block-about__title">
          <h3><p-badge [value]="3" size="large" styleClass="p-mr-2"></p-badge>НАДЕЖНОСТЬ</h3>
        </div>
        <div class="block-about__description">
          <p>Мы работаем на рынке с 2015 года, на нашем счету более сотен успешно выполненных заказов.</p>
        </div>
        <div class="block-about__title">
          <h3><p-badge [value]="4" size="large"styleClass="p-mr-2"></p-badge>КОМАНДА</h3>
        </div>
        <div class="block-about__description">
          <p>Наша команда всегда готова прислушаться к вам и вашим пожеланиям в ходе работ. Где быть особенно аккуратными или чему уделить особое внимание.</p>
        </div>
      </div>
    </div>
  </div>
</div>
