<div class="wrapper">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="p-grid">
    <div class="p-col-12 p-p-0">
      <div class="block-1">
        <div class="block-1__title">
          <h1>Уборка медицинских учреждений</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-2">
        <div class="block-2__description">
          <p class="description">Чистота медицинских учреждений – одна из самых важных задач для их руководителей. Ведь здоровье пациентов во многом будет зависеть от тщательности проводимой уборки. Нужно соблюдать особые правила, государственные стандарты санитарных норм, придерживаться стерильности. Выбор клининговой компании для таких работ должен быть осознанным.</p>
        </div>
      </div>
      <div class="p-col-12">
        <div class="block-2__button">
          <div class="sizes">
            <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-3">
        <div class="block-3__image">
          <img class="image" src="assets/img/29.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-4">
        <div class="block-4__title">
          <h1>Профессиональная уборка медицинских учреждений в Москве</h1>
        </div>
        <div class="block-4__description">
          <p>Санитарно-гигиеническая уборка больничных помещений должна быть осуществлена в абсолютной стерильности. Лишь компетентные работники могут ее выполнять. Доверившись специалистам, можно быть уверенным, что оперативно и недорого задача будет выполнена. При очистке используются специальные средства.</p>
        </div>
        <div class="block-4__title">
          <h1>Что включает общая уборка медицинского объекта?</h1>
        </div>
        <div class="block-4__description">
          <p>В среднем генеральная очистка в больницах и поликлиниках проводится один раз в месяц. Основное правило – придерживаться всех санитарных норм и правил медицины. Во время генерального клининга нужно очистить все вертикальные и горизонтальные поверхности. В некоторых больничных отделениях и кабинетах генеральная уборка проводиться чаще.</p>
          <ul>
            <li><i class="pi pi-check"></i>Чистка стен и полов помещения.</li>
            <li><i class="pi pi-check"></i>Мойка окон.</li>
            <li><i class="pi pi-check"></i>Уборка строительного мусора.</li>
            <li><i class="pi pi-check"></i>Мойка вентиляционных отверстий.</li>
            <li><i class="pi pi-check"></i>Клининг потолков, карнизов, осветительных приборов.</li>
            <li><i class="pi pi-check"></i>Мойка туалетных комнат.</li>
          </ul>
          <p>Стоимость уборки медицинских учреждений в Москве зависит от площади всей территории медицинского учреждения, выбранных заказчиком услуг, необходимых видов уборки, количества загрязнений, используемого оборудования и моющих средств.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="block-5">
      <div class="p-col-12">
        <div class="p-col-12">
          <div class="block-5__description">
            <p>Хотите заказать уборку медицинских учреждений в Москве? «KIMCLEANING» предлагает Вам сотрудничество на очень выгодных условиях!</p>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__button">
            <div class="sizes">
              <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
            </div>
          </div>
        </div>
        <div class="p-grid">

          <div class="p-col-12">
            <div class="block-5__title">
              <h1>ПОПУЛЯРНЫЕ ВОПРОСЫ</h1>
            </div>
            <div class="block-5__faq">
              <p-accordion>
                <p-accordionTab header="Сколько людей придет, чтобы убрать мой дом?" [(selected)]="activeState[0]">
                  <p>В среднем для помещения выделяется около 2-3 человек. На большие площади выделяется около 5. Всё зависит только от вас! Если вам необходимо произвести уборку в сжатые сроки — мы выделим необходимое количество человек для того, что бы успеть вовремя!</p>
                </p-accordionTab>
                <p-accordionTab header="Должен ли я присутствовать на уборке?" [(selected)]="activeState[1]">
                  <p>Это не обязательно. Вы можете как присутствовать, так и просто оставить ключи и приехать только к моменту завершения работ.</p>
                </p-accordionTab>
                <p-accordionTab header="Сколько времени займет мой дом?" [(selected)]="activeState[2]">
                  <p>В зависимости от площади от 1 до 3 рабочих дней. Рабочий день длиться с 9.00 до 18.00.
                    Если такой график Вас не устраивает – мы всегда готовы обсудить удобное вам время.</p>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
          <div class="p-col-12  p-md-6">
            <div class="block-5__title">
              <h2>МЫ ГАРАНТИРУЕМ</h2>
            </div>
            <div class="block-5__description">
              <p>Наша репутация важна для нас. Мы сделаем всё возможное для того, что бы завершить работу в оговоренные сроки и сделать это максимально качественно. Если результат нашей работы не удовлетворил вас – мы всегда рады выслушать ваши замечания и заново вернуться в те места, где по вашему мнению уделили не достаточно внимания.</p>
            </div>
          </div>
          <div class="p-col-12  p-md-6">
            <div class="block-5__title">
              <h2>НАША МИССИЯ</h2>
            </div>
            <div class="block-5__description">
              <ul>
                <li><i class="pi pi-check"></i>Предоставлять высококачественные услуги</li>
                <li><i class="pi pi-check"></i>Экономия вашего времени</li>
                <li><i class="pi pi-check"></i>Использовать только качественные средства</li>
                <li><i class="pi pi-check"></i>Обеспечить стабильные рабочие места</li>
                <li><i class="pi pi-check"></i>Никаких повреждений вашей мебели или технике</li>
                <li><i class="pi pi-check"></i>Удивить вас</li>
              </ul>
            </div>
          </div>
          <div class="p-col-12">
            <div class="block-5__title">
              <h2>Удобное и эффективное сотрудничество</h2>
            </div>
            <div class="block-5__description">
              <p>Вашему медицинскому учреждению необходима качественная генеральная уборка?</p>
              <p>Чтобы заказать уборку магазина в Москве или получить дополнительную консультацию свяжитесь с нами онлайн или звоните по указанным телефонам.</p>
              <div class="block-5__button">
                <div class="sizes">
                  <p-button label="Оставить заявку" styleClass="p-button-lg"></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
