<div class="wrapper">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="p-grid">
    <div class="p-col-12 p-p-0">
      <div class="block-1">
        <div class="block-1__title">
          <h1>Политика конфиденциальности</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-3">
        <div class="block-3__image">
          <img class="image" src="assets/img/kim.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-4">
        <div class="block-4__title">
          <h3>Политика конфиденциальности сайта kimcleaning.ru</h3>
        </div>
        <div class="block-4__description">
          <p>Администрация сайта kimcleaning.ru обязуется сохранять вашу конфиденциальность в Интернете. Мы уделяем большое значение охране предоставленных вами данных. Наша политика конфиденциальности основана на требованиях Общего регламента о защите персональных данных Европейского Союза (GDPR). Цели, в которых мы собираем персональные данные: улучшение работы нашего сервиса, осуществление контактов с посетителями данного сайта, новостная рассылка по электронной почте, предоставление информации, которую запрашивал пользователь, осуществление услуг, связанных с направлением деятельности данного сайта, а так же для указанных ниже действий.</p>
        </div>
        <div class="block-4__title">
          <h3>Сбор и использование персональных данных</h3>
        </div>
        <div class="block-4__description">
          <p>Мы собираем и используем ваши персональные данные только в случае вашего добровольного согласия. При согласии с этим вы разрешаете нам собирать и использовать следующие данные: имя и фамилия, электронная почта, номер телефона, данные аккаунтов в социальных сетях, . Сбор и обработка ваших данных проводится соответствии с законами, действующими на территории Европейского Союза и в РФ.</p>
        </div>
        <div class="block-4__title">
          <h3>Хранение данных, изменение и удаление</h3>
        </div>
        <div class="block-4__description">
          <p>Пользователь, предоставивший свои персональные данные сайту kimcleaning.ru имеет право на их изменение и удаление, а так же на отзыв своего согласия с их использованием. Срок, в течение которого будут храниться ваши персональные данные: время, необходимое для использования данных для основной деятельности сайта. При завершении использования ваших данных администрация сайта удаляет их. Для доступа к своим персональным данным вы можете связаться с администрацией сайта kimcleaning.</p>
        </div>
        <div class="block-4__title">
          <h3>Использование технических данных при посещении сайта</h3>
        </div>
        <div class="block-4__description">
          <p>При посещении вами сайта kimcleaning.ru в базе данных сохраняются записи о вашем IP адресе, времени посещения, настройках браузера, операционной системе, а также другая техническая информация необходимая для корректного отображения содержимого сайта. По этим данным нам невозможно идентифицировать личность посетителя.</p>
        </div>
        <div class="block-4__title">
          <h3>Использование cookies</h3>
        </div>
        <div class="block-4__description">
          <p>Для корректного отображения содержимого и для удобства использования сайта kimcleaning.ru мы используем cookie файлы. Это небольшие файлы, которые хранятся на вашем устройстве. Они помогают сайту запомнить информацию о вас, например на каком языке вы просматриваете сайт и какие страницы вы уже открывали, эта информация будет полезна при следующем посещении. Благодаря файлам cookie просмотр сайта становится значительно более удобным. Вы можете настроить прием или блокировку cookie в браузере самостоятельно. Невозможность принимать cookie может ограничить работоспособность сайта.</p>
        </div>
        <div class="block-4__title">
          <h3>Использование персональных данных другими сервисами</h3>
        </div>
        <div class="block-4__description">
          <p>На этом сайте используются сторонние интернет-сервисы, осуществляющие независимый от нас сбор информации: Google Analytics , Yandex.Metrica, Yandex.Direct, Facebook.com, . Собранные ими данные могут предоставляться другим службам внутри этих организаций, они могут использовать данные для персонализации рекламы своей собственной рекламной сети.  Вы можете прочитать пользовательские соглашения этих организаций на их сайтах. Мы не передаем персональные данные другим организациям и службам, не указанным в данной политике конфиденциальности. Исключение составляет только передача информации при законных требованиях государственных органов уполномоченных осуществлять данные действия.</p>
        </div>
        <div class="block-4__title">
          <h3>Ссылки на другие сайты</h3>
        </div>
        <div class="block-4__description">
          <p>Наш сайт kimcleaning.ru может содержать ссылки на другие сайты, которые не управляются нами. Мы не несем ответственность за их содержание. Мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете, если она там есть.</p>
        </div>
        <div class="block-4__title">
          <h3>Изменения в политике конфиденциальности</h3>
        </div>
        <div class="block-4__description">
          <p>Наш сайт kimcleaning.ru может обновлять нашу политику конфиденциальности время от времени. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на этой странице. Мы отслеживаем изменения законодательства, касающегося персональных данных в Европейском Союзе и в государстве Украина. Если вы оставили персональные данные у нас, то мы оповестим вас об изменении в политике конфиденциальности. Если ваши персональные данные были введены не корректно, то мы не сможем с вами связаться.</p>
        </div>
        <div class="block-4__title">
          <h3>Обратная связь, заключительные положения</h3>
        </div>
        <div class="block-4__description">
          <p>Связаться с администрацией сайта kimcleaning.ru по вопросам, связанным с политикой конфиденциальности можно по адресу: admin@kimcleaning.ru, либо с помощью контактной формы указанной в соответствующем разделе данного сайта. Если вы не согласны с данной политикой конфиденциальности, вы не можете пользоваться услугами сайта kimcleaning.ru, в этом случае вы должны воздержаться от посещения нашего сайта.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-4">
      <div class="block-about">
        <div class="block-about__icon"><i class="pi pi-user"></i></div>
        <div class="block-about__title">
          <h2>Кто мы?</h2>
        </div>
        <div class="block-about__description">
          <p>Мы — московская клининговая компания. Работаем на рынке с 2015 года, на нашем счету более сотен успешно выполненных заказов.</p>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="block-about">
        <div class="block-about__icon"><i class="pi pi-book"></i></div>
        <div class="block-about__title">
          <h2>Что мы делаем?</h2>
        </div>
        <div class="block-about__description">
          <p>Мы предоставляем профессиональные услуги по уборке, предназначенные для того, чтобы ваш дом был идеально чист и вы могли сосредоточиться на более важных для вас делах.</p>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="block-about">
        <div class="block-about__icon"><i class="pi pi-home"></i></div>
        <div class="block-about__title">
          <h2>Наша миссия?</h2>
        </div>
        <div class="block-about__description">
          <p>Наша задача — выслушать наших клиентов, понять их потребности и обеспечить исключительный уровень услуг по уборке жилых и коммерческих помещений.</p>
        </div>
      </div>
    </div>
  </div>
</div>
