<div class="wrapper">
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="p-grid">
  <div class="p-col-12 p-p-0">
    <div class="block-1">
      <div class="block-1__title">
        <h1>Генеральная уборка</h1>
      </div>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12">
    <div class="block-2">
      <div class="block-2__description">
        <p class="description"><b>Генеральная уборка в Москве</b> от клининговой компании «KIMCLEANING» – лучший способ быстро и идеально очистить помещение и навести порядок в доме. Профессиональные клинеры KIMCLEANING с безупречной репутацией знают, что такое правильная уборка помещений, оперативно и качественно помогут Вам избавиться от нежелательной грязи в жилых и нежилых помещениях. Закажите генеральную уборку прямо сейчас или оставьте заявку и наш менеджер сделает для вас <b>точный расчет стоимости!</b></p>
      </div>
    </div>
    <div class="p-col-12">
      <div class="block-2__button">
        <div class="sizes">
          <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-6">
    <div class="block-3">
      <div class="block-3__image">
        <img class="image" src="assets/img/15.webp">
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6">
    <div class="block-3">
      <div class="block-3__image">
        <img class="image" src="assets/img/16.webp">
      </div>
    </div>
  </div>
</div>
  <div class="p-grid">
<div class="p-col-12">
  <div class="block-4">
    <div class="block-4__title">
      <h1>Генеральная уборка в Москве</h1>
    </div>
    <div class="block-4__description">
      <p>Генеральная уборка в Одессе от компании «KIMCLEANING» включает в себя – чистку напольного покрытия, влажная и сухая уборка поверхностей, чистка декоративных элементов мебели, мойка зеркал, дезинфекция сан.узла, мойка кухни, очистка электронных приборов и т.д.</p>
    <p>Как бы вы не старались всегда поддерживать чистоту в вашем доме, периодически всё равно возникает необходимость сделать более тщательную и полную уборку всего дома. Чаще всего это занимает практически целый день, а то и больше, в зависимости от площади помещения. Не каждый может себе позволить потратить на это столько свободного времени и усилий. Более того, часто можно столкнуться с той ситуацией, когда вы просто не знаете, чем можно отчистить застарелую грязь, жир, налет и при этом что бы моющее средство не разъело поверхность.</p>
      <p>Еще чаще мы сталкиваемся с ситуацией, когда квартира в очень загрязненном состоянии после квартирантов и за один день с уборкой точно не справиться, а вам необходимо сдавать квартиру новым жильцам уже на следующий день? В данной ситуации к вам на помощь придет команда профессионалов, которая точно знает как за кратчайшее время навести чистоту и устранить даже самые сложные загрязнения!</p>
      <p>Мы с радостью поможем вам в уборке вашего дома, сэкономив ваше время и усилия.</p>
    </div>
  </div>
</div>
  </div>
  <div class="p-grid">
    <div class="block-5">
    <div class="p-col-12">
        <div class="block-5__title">
          <h1>Генеральная уборка в Москве по выгодной цене</h1>
        </div>
      </div>
    <div class="p-col-12">
      <div class="block-5__description">
        <p>Хотите заказать генеральную уборку в Москве? Компания «KIMCLEANING» предлагает Вам сотрудничество на очень выгодных условиях!</p>
      </div>
    </div>
      <div class="p-col-12">
        <div class="block-5__button">
          <div class="sizes">
            <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
          </div>
        </div>
      </div>
      <div class="p-grid">
      <div class="p-col-12">
        <div class="block-5__title">
          <h1>ПРАЙС-ЛИСТ</h1>
        </div>
        <div class="block-5__table">
          <p-table [value]="productPrice" styleClass="p-datatable-striped p-datatable-gridlines">
            <ng-template pTemplate="caption">
              Генеральная уборка
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Наименование</th>
                <th>Цена</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-productPrice>
              <tr>
                <td>{{productPrice.name}}</td>
                <td>{{productPrice.price}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <p>*Для определения точной цены наш менеджер выезжает на объект для оценивания и только после мы высылаем вам полный прайс по вашему конкретному объекту.</p>
              <p>**Стоимость зависит от степени, сложности загрязнений, сроков выполнения работ и объемов.</p>
            </ng-template>
          </p-table>
        </div>
      </div>
        <div class="p-col-12">
          <div class="block-5__button">
            <div class="sizes">
              <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
            </div>
          </div>
        </div>
      <div class="p-col-12">
        <div class="block-5__title">
          <h1>ПОПУЛЯРНЫЕ ВОПРОСЫ</h1>
        </div>
        <div class="block-5__faq">
          <p-accordion>
            <p-accordionTab header="Сколько людей придет, чтобы убрать мой дом?" [(selected)]="activeState[0]">
              <p>В среднем для помещения выделяется около 2-3 человек. На большие площади выделяется около 5. Всё зависит только от вас! Если вам необходимо произвести уборку в сжатые сроки — мы выделим необходимое количество человек для того, что бы успеть вовремя!</p>
            </p-accordionTab>
            <p-accordionTab header="Должен ли я присутствовать на уборке?" [(selected)]="activeState[1]">
              <p>Это не обязательно. Вы можете как присутствовать, так и просто оставить ключи и приехать только к моменту завершения работ.</p>
            </p-accordionTab>
            <p-accordionTab header="Сколько времени займет мой дом?" [(selected)]="activeState[2]">
              <p>В зависимости от площади от 1 до 3 рабочих дней. Рабочий день длиться с 9.00 до 18.00.
                Если такой график Вас не устраивает – мы всегда готовы обсудить удобное вам время.</p>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
        <div class="p-col-12  p-md-6">
          <div class="block-5__title">
            <h2>МЫ ГАРАНТИРУЕМ</h2>
          </div>
          <div class="block-5__description">
            <p>Наша репутация важна для нас. Мы сделаем всё возможное для того, что бы завершить работу в оговоренные сроки и сделать это максимально качественно. Если результат нашей работы не удовлетворил вас – мы всегда рады выслушать ваши замечания и заново вернуться в те места, где по вашему мнению уделили не достаточно внимания.</p>
          </div>
        </div>
        <div class="p-col-12  p-md-6">
          <div class="block-5__title">
            <h2>НАША МИССИЯ</h2>
          </div>
          <div class="block-5__description">
            <ul>
              <li><i class="pi pi-check"></i>Предоставлять высококачественные услуги</li>
              <li><i class="pi pi-check"></i>Экономия вашего времени</li>
              <li><i class="pi pi-check"></i>Использовать только качественные средства</li>
              <li><i class="pi pi-check"></i>Обеспечить стабильные рабочие места</li>
              <li><i class="pi pi-check"></i>Никаких повреждений вашей мебели или технике</li>
              <li><i class="pi pi-check"></i>Удивить вас</li>
            </ul>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>Генеральная уборка квартир, домов и офисов “Под ключ”</h1>
          </div>
          <div class="block-5__button">
            <div class="sizes">
              <p-button label="Оставить заявку" styleClass="p-button-lg"></p-button>
            </div>
          </div>
          <div class="block-5__description">
            <p>Нам всегда хочется возвращаться в свой дом, где уютно, тепло, комфортно, а главное – чисто. Но как бы бережно мы не относились к порядку нашего домашнего очага, периодически нужно проводить <b>генеральную уборку</b> всего дома. А именно: мыть окна, двери, полы, люстры, а иногда даже стены, потратив на это не один час.</p>
         <p>Как же приятно, когда весь этот список нелёгких дел за Вас может выполнить кто-то другой. Особенно, если рассматривать тот факт, что существуют такие виды грязи, с которыми справиться самостоятельно при помощи подручных способов, не навредив, невозможно. Однако, этот вопрос можно решить, заказав клининговую услугу от компании KIMCLEANING. Наши специалисты, благодаря правильному оборудованию, идеально вычистят каждый труднодоступный уголок Вашего помещения. Также помогут избавиться от мусора, вывести пятна, отполировать все поверхности и продезинфицировать санузел и кухню. Как результат: Вы сэкономили свое время, силы и позабыли о бытовой суете.</p>
            <p>Кроме того, бывают жизненные ситуации, которые требуют экстренной <b>уборки квартиры</b>. Переезд, подготовка к празднику, выписка из роддома, визит родственников и т.д. Позвольте нам взять на себя эти хлопоты, а себе – провести досуг более продуктивно.</p>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>Генеральная уборка квартир в Москве — Качественно, Быстро, Выгодно!</h1>
          </div>
          <div class="block-5__description">
            <p>Одним из наших немаловажных преимуществ является использование экологического моющего средства. Оно не менее эффективно, чем любое химическое, но абсолютно безвредно для здоровья человека, животных и окружающей среды. Оно не оставляет следов, неприятного запаха и щадит поверхности и покрытия.  К тому же, <b>генеральная уборка квартир в Москве</b> – это удобно, так как мы проводим её своевременно в четко оговоренные заранее сроки, учитывая все Ваши пожелания, которые можно дополнять или видоизменять. Стоит подчеркнуть, что стоимость <b>генеральной уборки</b> у компании Мэри Джейн одна из самых практичных на рынке. Стоимость услуги формируется исходя из площади, степени загрязнения, и дополнительных пожеланий заказчика.</p>
          <p>Наши эксперты, обладающие большим опытом, заинтересованы в том, чтобы Вы остались удовлетворены качественно проделанной работой. Мы с радостью позаботимся о том, чтобы Вы наслаждались чистотой и свежестью Вашего дома!</p>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
