<div class="wrapper">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="p-grid">
    <div class="p-col-12 p-p-0">
      <div class="block-1">
        <div class="block-1__title">
          <h1>Мойка окон, витрин, фасадов</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-2">
        <div class="block-2__description">
          <p class="description">Мойка окон в Москве любой сложности, с гарантией качества и в строго оговорённый срок –
            клининговая компания «KIMCLEANING». Предоставляем широкий спектр клининговых услуг в Москве, в число которых
            входит мойка окон, витрин, фасадов, мытьё панорамного остекления и стеклянных конструкций. Если Вам
            необходима клининговая уборка помещений или мойка окон, просто свяжитесь с нами. Закажите услугу прямо
            сейчас или оставьте заявку и наш менеджер сделает для вас точный расчет стоимости!</p>
        </div>
      </div>
      <div class="p-col-12">
        <div class="block-2__button">
          <div class="sizes">
            <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <div class="block-3">
        <div class="block-3__image">
          <img class="image" src="assets/img/19.webp">
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6">
      <div class="block-3">
        <div class="block-3__image">
          <img class="image" src="assets/img/20.webp">
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="block-4">
        <div class="block-4__title">
          <h1>Профессиональная мойка окон в Москве</h1>
        </div>
        <div class="block-4__description">
          <p>Профессиональная мойка окон в Москве от компании «KIMCLEANING» — сияющая чистота и свежесть в вашем доме!
            Мы уделяем внимание каждой детали!</p>
          <p>Мойка окон — процедура, которую возникает необходимость провести по меньшей мере в весенне-летний период,
            после их загрязнения за зиму. После ремонта и вовсе к этому вопросу нужно подойти тщательно, т.к. когда вы
            только сделали ремонт, завезли новую мебель и всё вокруг чистое, новое и красивое, возникает желание что бы
            всё вокруг было идеально. Кристально чистые окна, без разводов и следов стройки! Поэтому, если Вам нужна
            услуга мойка окон, витрин или фасадов в Москве, обращайтесь в нашу компанию и наши специалисты выполнят
            работы любой сложности в самые кратчайшие сроки!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="block-5">
      <div class="p-col-12">
        <div class="block-5__title">
          <h1>Мойка окон в Москве по выгодной цене</h1>
        </div>
      </div>
      <div class="p-col-12">
        <div class="block-5__description">
          <p>Хотите заказать мойку окон в Москве? Компания «KIMCLEANING» предлагает Вам сотрудничество на очень выгодных
            условиях!</p>
        </div>
      </div>
      <div class="p-col-12">
        <div class="block-5__button">
          <div class="sizes">
            <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>ПРАЙС-ЛИСТ</h1>
          </div>
          <div class="block-5__table">
            <p-table styleClass="p-datatable-striped p-datatable-gridlines">
              <ng-template pTemplate="caption">
                Мойка окон, витрин и фасадов
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Наименование</th>
                  <th>Цена</th>
                </tr>
                <tr>
                  <th>После ремонта с внутренней и внешней стороны стандартного окна</th>
                  <th>от 100</th>
                </tr>
                <tr>
                  <th>Сезонная мойка стандартного окна с внутренней и внешней стороны</th>
                  <th>от 100</th>
                </tr>
                <tr>
                  <th>Мойка витрин. Высотные работы</th>
                  <th>от 100</th>
                </tr>
                <tr>
                  <th>Мойка террас, летних площадок кафе и ресторанов с применением АВД и спец химии</th>
                  <th>Цена договорная</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body">
                <tr>
                  <th>Нанесение защитного покрытия на полы из натурального камня и мрамора</th>
                  <th>Цена договорная</th>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__button">
            <div class="sizes">
              <p-button label="Рассчитать стоимость" icon="pi pi-dollar" styleClass="p-button-lg"></p-button>
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>ПОПУЛЯРНЫЕ ВОПРОСЫ</h1>
          </div>
          <div class="block-5__faq">
            <p-accordion>
              <p-accordionTab header="Сколько людей придет, чтобы убрать мой дом?" [(selected)]="activeState[0]">
                <p>В среднем для помещения выделяется около 2-3 человек. На большие площади выделяется около 5. Всё
                  зависит только от вас! Если вам необходимо произвести уборку в сжатые сроки — мы выделим необходимое
                  количество человек для того, что бы успеть вовремя!</p>
              </p-accordionTab>
              <p-accordionTab header="Должен ли я присутствовать на уборке?" [(selected)]="activeState[1]">
                <p>Это не обязательно. Вы можете как присутствовать, так и просто оставить ключи и приехать только к
                  моменту завершения работ.</p>
              </p-accordionTab>
              <p-accordionTab header="Сколько времени займет мой дом?" [(selected)]="activeState[2]">
                <p>В зависимости от площади от 1 до 3 рабочих дней. Рабочий день длиться с 9.00 до 18.00.
                  Если такой график Вас не устраивает – мы всегда готовы обсудить удобное вам время.</p>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
        <div class="p-col-12  p-md-6">
          <div class="block-5__title">
            <h2>МЫ ГАРАНТИРУЕМ</h2>
          </div>
          <div class="block-5__description">
            <p>Наша репутация важна для нас. Мы сделаем всё возможное для того, что бы завершить работу в оговоренные
              сроки и сделать это максимально качественно. Если результат нашей работы не удовлетворил вас – мы всегда
              рады выслушать ваши замечания и заново вернуться в те места, где по вашему мнению уделили не достаточно
              внимания.</p>
          </div>
        </div>
        <div class="p-col-12  p-md-6">
          <div class="block-5__title">
            <h2>НАША МИССИЯ</h2>
          </div>
          <div class="block-5__description">
            <ul>
              <li><i class="pi pi-check"></i>Предоставлять высококачественные услуги</li>
              <li><i class="pi pi-check"></i>Экономия вашего времени</li>
              <li><i class="pi pi-check"></i>Использовать только качественные средства</li>
              <li><i class="pi pi-check"></i>Обеспечить стабильные рабочие места</li>
              <li><i class="pi pi-check"></i>Никаких повреждений вашей мебели или технике</li>
              <li><i class="pi pi-check"></i>Удивить вас</li>
            </ul>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>Мойка окон в Москве — недорого и без разводов</h1>
          </div>
          <div class="block-5__button">
            <div class="sizes">
              <p-button label="Оставить заявку" styleClass="p-button-lg"></p-button>
            </div>
          </div>
          <div class="block-5__description">
            <p>Самый завораживающий вид из окна — вид из чистого окна! Чистые окна — это источник солнечного света, свежего воздуха и приятной атмосферы в целом. Следовательно, если окна не вымыты, в квартиру попадает пыль и грязь. Не стоит забывать, что в теплое время года перепад температуры не столь ощутим при открытии, но как быть в осенне-зимний период? Более того, далеко не у каждого хозяина дома есть специальное приспособление для безопасной мойки окон снаружи. Как же добиться идеальной чистоты окон без затраты сил, энергии и времени на борьбу с разводами и загрязнениями на подоконнике? Позвольте нам решить ряд этих вопросов и облегчить Ваши хозяйственные хлопоты. Лучше довериться профессионалам, для которых мойка окон в Москве — привычное занятие. Благодаря нашим опытным клинерам, профессиональному оборудованию и моющим средствам чистота Ваших окон сохранится надолго.</p>
            <p>А как быть с витринами и фасадами? Ведь запыленные витрины, грязный фасад и поблекшие рамы портят имидж заведения и искажают формирование первого впечатления. Поэтому важно, чтобы витрины сияли и заинтересовывали своим эстетическим видом, а не отталкивали посетителя. Наша компания поможет Вам справиться и с этой задачей.</p>
          </div>
        </div>
        <div class="p-col-12">
          <div class="block-5__title">
            <h1>Мойка окон, витрин и фасадов в Москве</h1>
          </div>
          <div class="block-5__description">
            <p>И совсем не имеет значения: будь это домашние или офисные окна, витрины бутиков, заведений или огромные панорамные окна. <b>Мойка окон, витрин и фасадов в Москве</b> осуществляется опытными специалистами, благодаря современному оборудованию и моющим средствам, которые не оказывают вредят рамам и подоконникам, а также здоровью человека и окружающей среде. Поэтому все стеклянные или зеркальные поверхности будут идеально прозрачными и блестящими, без разводов и пятен. <b>Мойка окон от клиниговой компании KIMCLEANING в Москве</b> — это профессиональный подход к делу и быстрое решение вопроса чистоты. Проведите свой досуг с пользой, доверив чистоту Ваших окон нашим специалистам.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
